/BindingKey.class
/BufferChangedEvent.class
/ClasspathContainerInitializer.class
/ClasspathVariableInitializer.class
/CompletionContext.class
/CompletionFlags.class
/CompletionProposal.class
/CompletionRequestor.class
/CompletionRequestorAdapter.class
/CorrectionEngine$1.class
/CorrectionEngine.class
/ElementChangedEvent.class
/Flags.class
/IAccessRule.class
/IAnnotatable.class
/IAnnotation.class
/IBuffer$ITextEditCapability.class
/IBuffer.class
/IBufferChangedListener.class
/IBufferFactory.class
/IClassFile.class
/IClasspathAttribute.class
/IClasspathContainer.class
/IClasspathEntry.class
/ICodeAssist.class
/ICodeCompletionRequestor.class
/ICodeFormatter.class
/ICompilationUnit.class
/ICompletionRequestor.class
/ICorrectionRequestor.class
/IElementChangedListener.class
/IField.class
/IImportContainer.class
/IImportDeclaration.class
/IInitializer.class
/IJarEntryResource.class
/IJavaElement.class
/IJavaElementDelta.class
/IJavaModel.class
/IJavaModelMarker.class
/IJavaModelStatus.class
/IJavaModelStatusConstants.class
/IJavaProject.class
/ILocalVariable.class
/IMember.class
/IMemberValuePair.class
/IMethod.class
/IOpenable.class
/IPackageDeclaration.class
/IPackageFragment.class
/IPackageFragmentRoot.class
/IParent.class
/IProblemRequestor.class
/IRegion.class
/ISourceManipulation.class
/ISourceRange.class
/ISourceReference.class
/IType.class
/ITypeHierarchy.class
/ITypeHierarchyChangedListener.class
/ITypeParameter.class
/ITypeRoot.class
/IWorkingCopy.class
/JavaConventions.class
/JavaCore.class
/JavaModelException.class
/NamingConventions$NamingRequestor.class
/NamingConventions.class
/Signature.class
/SourceRange.class
/ToolFactory$1DeprecatedDisassembler.class
/ToolFactory.class
/WorkingCopyOwner.class
/ClasspathContainerInitializer$1.class
/JavaCore$1.class
/JavaCore$2.class
