/ChangeCollector.class
/HierarchyBinaryType.class
/HierarchyBuilder.class
/HierarchyResolver.class
/HierarchyType.class
/IndexBasedHierarchyBuilder$Queue.class
/IndexBasedHierarchyBuilder.class
/RegionBasedHierarchyBuilder.class
/RegionBasedTypeHierarchy$1.class
/RegionBasedTypeHierarchy.class
/TypeHierarchy.class
/HierarchyBuilder$1.class
/IndexBasedHierarchyBuilder$1.class
/IndexBasedHierarchyBuilder$1PathCollector.class
/IndexBasedHierarchyBuilder$2.class
/IndexBasedHierarchyBuilder$3.class
/TypeHierarchy$1.class
