/AND_AND_Expression.class
/ASTNode.class
/AbstractMethodDeclaration.class
/AbstractVariableDeclaration.class
/AllocationExpression.class
/Annotation$1LocationCollector.class
/Annotation$1MissingTargetBuilder.class
/Annotation.class
/AnnotationMethodDeclaration.class
/Argument.class
/ArrayAllocationExpression.class
/ArrayInitializer.class
/ArrayQualifiedTypeReference.class
/ArrayReference.class
/ArrayTypeReference.class
/AssertStatement.class
/Assignment.class
/BinaryExpression.class
/Block.class
/BranchStatement.class
/BreakStatement.class
/CaseStatement.class
/CastExpression$1.class
/CastExpression.class
/CharLiteral.class
/ClassLiteralAccess.class
/Clinit.class
/CombinedBinaryExpression.class
/CompilationUnitDeclaration$1.class
/CompilationUnitDeclaration.class
/CompoundAssignment.class
/ConditionalExpression.class
/ConstructorDeclaration.class
/ContainerAnnotation.class
/ContinueStatement.class
/DoStatement.class
/DoubleLiteral.class
/EmptyStatement.class
/EqualExpression.class
/ExplicitConstructorCall.class
/Expression.class
/ExpressionContext$1.class
/ExpressionContext$2.class
/ExpressionContext$3.class
/ExpressionContext$4.class
/ExpressionContext.class
/ExtendedStringLiteral.class
/FakedTrackingVariable$IteratorForReporting$Stage.class
/FakedTrackingVariable$IteratorForReporting.class
/FakedTrackingVariable.class
/FalseLiteral.class
/FieldDeclaration.class
/FieldReference.class
/FloatLiteral.class
/ForStatement.class
/ForeachStatement.class
/FunctionalExpression$1BridgeCollector.class
/FunctionalExpression$VisibilityInspector.class
/FunctionalExpression.class
/IPolyExpression.class
/IfStatement.class
/ImportReference.class
/Initializer.class
/InstanceOfExpression.class
/IntLiteral.class
/IntLiteralMinValue.class
/IntersectionCastTypeReference.class
/Invocation.class
/Javadoc.class
/JavadocAllocationExpression.class
/JavadocArgumentExpression.class
/JavadocArrayQualifiedTypeReference.class
/JavadocArraySingleTypeReference.class
/JavadocFieldReference.class
/JavadocImplicitTypeReference.class
/JavadocMessageSend.class
/JavadocQualifiedTypeReference.class
/JavadocReturnStatement.class
/JavadocSingleNameReference.class
/JavadocSingleTypeReference.class
/LabeledStatement.class
/LambdaExpression$1LambdaTypeBinding.class
/LambdaExpression$1ShapeComputer.class
/LambdaExpression$CopyFailureException.class
/LambdaExpression.class
/Literal.class
/LocalDeclaration.class
/LongLiteral.class
/LongLiteralMinValue.class
/MagicLiteral.class
/MarkerAnnotation.class
/MemberValuePair$1.class
/MemberValuePair$2.class
/MemberValuePair.class
/MessageSend.class
/MethodDeclaration.class
/NameReference.class
/NormalAnnotation.class
/NullAnnotationMatching$CheckMode.class
/NullAnnotationMatching$SearchContradictions.class
/NullAnnotationMatching.class
/NullLiteral.class
/NumberLiteral.class
/OR_OR_Expression.class
/OperatorExpression$1Decode.class
/OperatorExpression.class
/OperatorIds.class
/ParameterizedQualifiedTypeReference.class
/ParameterizedSingleTypeReference.class
/PostfixExpression.class
/PrefixExpression.class
/QualifiedAllocationExpression.class
/QualifiedNameReference.class
/QualifiedSuperReference.class
/QualifiedThisReference.class
/QualifiedTypeReference.class
/Receiver.class
/Reference.class
/ReferenceExpression$1.class
/ReferenceExpression$2.class
/ReferenceExpression.class
/ReturnStatement.class
/SingleMemberAnnotation.class
/SingleNameReference.class
/SingleTypeReference.class
/Statement$1.class
/Statement$2.class
/Statement.class
/StringLiteral.class
/StringLiteralConcatenation.class
/SubRoutineStatement.class
/SuperReference.class
/SwitchStatement$1StringSwitchCase.class
/SwitchStatement.class
/SynchronizedStatement.class
/ThisReference.class
/ThrowStatement.class
/TrueLiteral.class
/TryStatement.class
/TypeDeclaration.class
/TypeParameter.class
/TypeReference$AnnotationCollector.class
/TypeReference$AnnotationPosition.class
/TypeReference.class
/UnaryExpression.class
/UnionTypeReference.class
/WhileStatement.class
/Wildcard.class
