/AccessRestriction.class
/AccessRule.class
/AccessRuleSet.class
/ClassSignature.class
/EnumConstantSignature.class
/IBinaryAnnotation.class
/IBinaryElementValuePair.class
/IBinaryField.class
/IBinaryMethod.class
/IBinaryNestedType.class
/IBinaryType.class
/IBinaryTypeAnnotation.class
/ICompilationUnit.class
/IDependent.class
/IGenericField.class
/IGenericMethod.class
/IGenericType.class
/INameEnvironment.class
/ISourceField.class
/ISourceImport.class
/ISourceMethod.class
/ISourceType.class
/ITypeAnnotationWalker$1.class
/ITypeAnnotationWalker.class
/NameEnvironmentAnswer.class
