/AbortCompilation.class
/AbortCompilationUnit.class
/AbortMethod.class
/AbortType.class
/DefaultProblem.class
/DefaultProblemFactory.class
/ProblemHandler.class
/ProblemReporter.class
/ProblemSeverities.class
/ShouldNotImplement.class
