/BooleanConstant.class
/ByteConstant.class
/CharConstant.class
/CompilerOptions.class
/CompilerStats.class
/Constant.class
/DoubleConstant.class
/FloatConstant.class
/ITypeRequestor.class
/IntConstant.class
/IrritantSet.class
/LongConstant.class
/ReferenceContext.class
/ShortConstant.class
/StringConstant.class
