/ASTRewrite.class
/ITrackedNodePosition.class
/ImportRewrite$1.class
/ImportRewrite$ImportRewriteContext.class
/ImportRewrite.class
/ListRewrite.class
/TargetSourceRangeComputer$SourceRange.class
/TargetSourceRangeComputer.class
