/FieldDeclarationMatch.class
/FieldReferenceMatch.class
/IJavaSearchConstants.class
/IJavaSearchResultCollector.class
/IJavaSearchScope.class
/ISearchPattern.class
/ITypeNameRequestor.class
/LocalVariableDeclarationMatch.class
/LocalVariableReferenceMatch.class
/MethodDeclarationMatch.class
/MethodReferenceMatch.class
/PackageDeclarationMatch.class
/PackageReferenceMatch.class
/ReferenceMatch.class
/SearchDocument.class
/SearchEngine$ResultCollectorAdapter.class
/SearchEngine$SearchPatternAdapter.class
/SearchEngine$TypeNameRequestorAdapter.class
/SearchEngine.class
/SearchMatch.class
/SearchParticipant.class
/SearchPattern.class
/SearchRequestor.class
/TypeDeclarationMatch.class
/TypeNameMatch.class
/TypeNameMatchRequestor.class
/TypeNameRequestor.class
/TypeParameterDeclarationMatch.class
/TypeParameterReferenceMatch.class
/TypeReferenceMatch.class
