/ASTHolderCUInfo.class
/AnnotatableInfo.class
/Annotation.class
/AnnotationInfo.class
/BasicCompilationUnit.class
/BatchInitializationMonitor.class
/BatchOperation.class
/BecomeWorkingCopyOperation.class
/BinaryField.class
/BinaryLambdaExpression.class
/BinaryLambdaMethod.class
/BinaryMember.class
/BinaryMethod.class
/BinaryType.class
/BinaryTypeConverter.class
/Buffer.class
/BufferCache.class
/BufferFactoryWrapper.class
/BufferManager$1.class
/BufferManager.class
/CancelableNameEnvironment.class
/CancelableProblemFactory.class
/ChangeClasspathOperation.class
/ClassFile.class
/ClassFileInfo$1.class
/ClassFileInfo$2.class
/ClassFileInfo.class
/ClassFileWorkingCopy.class
/ClasspathAccessRule.class
/ClasspathAttribute.class
/ClasspathChange.class
/ClasspathEntry$AssertionFailedException.class
/ClasspathEntry$UnknownXmlElements.class
/ClasspathEntry.class
/ClasspathValidation.class
/CommitWorkingCopyOperation.class
/CompilationUnit.class
/CompilationUnitElementInfo.class
/CompilationUnitProblemFinder$1.class
/CompilationUnitProblemFinder.class
/CompilationUnitStructureRequestor$1.class
/CompilationUnitStructureRequestor.class
/CopyElementsOperation.class
/CopyPackageFragmentRootOperation.class
/CopyResourceElementsOperation.class
/CreateCompilationUnitOperation.class
/CreateElementInCUOperation.class
/CreateFieldOperation.class
/CreateImportOperation.class
/CreateInitializerOperation.class
/CreateMethodOperation.class
/CreatePackageDeclarationOperation.class
/CreatePackageFragmentOperation.class
/CreateTypeHierarchyOperation.class
/CreateTypeMemberOperation.class
/CreateTypeOperation.class
/DefaultWorkingCopyOwner.class
/DeleteElementsOperation.class
/DeletePackageFragmentRootOperation.class
/DeleteResourceElementsOperation.class
/DeltaProcessingState.class
/DeltaProcessor$OutputsInfo.class
/DeltaProcessor$RootInfo.class
/DeltaProcessor.class
/DiscardWorkingCopyOperation.class
/DocumentAdapter.class
/ElementCache.class
/ExternalAnnotationTracker$DirectoryNode.class
/ExternalAnnotationTracker.class
/ExternalFolderChange.class
/ExternalFoldersManager$RefreshJob.class
/ExternalFoldersManager.class
/ExternalJavaProject.class
/ExternalPackageFragmentRoot.class
/IJavaElementRequestor.class
/INameEnvironmentWithProgress.class
/INamingRequestor.class
/IPathRequestor.class
/ImportContainer.class
/ImportContainerInfo.class
/ImportDeclaration.class
/ImportDeclarationElementInfo.class
/Initializer.class
/InitializerElementInfo.class
/InitializerWithChildrenInfo.class
/InternalNamingConventions.class
/JarEntryDirectory.class
/JarEntryFile.class
/JarEntryResource.class
/JarPackageFragment.class
/JarPackageFragmentInfo.class
/JarPackageFragmentRoot.class
/JarPackageFragmentRootInfo.class
/JavaCorePreferenceInitializer.class
/JavaCorePreferenceModifyListener.class
/JavaElement.class
/JavaElementDelta$Key.class
/JavaElementDelta.class
/JavaElementDeltaBuilder$ListItem.class
/JavaElementDeltaBuilder.class
/JavaElementInfo.class
/JavaElementRequestor.class
/JavaModel.class
/JavaModelCache.class
/JavaModelInfo.class
/JavaModelManager$CompilationParticipants.class
/JavaModelManager$EclipsePreferencesListener.class
/JavaModelManager$PerProjectInfo.class
/JavaModelManager$PerWorkingCopyInfo.class
/JavaModelManager$PersistedClasspathContainer.class
/JavaModelManager$VariablesAndContainersLoadHelper.class
/JavaModelManager$VariablesAndContainersSaveHelper.class
/JavaModelManager$ZipCache.class
/JavaModelManager.class
/JavaModelOperation$IPostAction.class
/JavaModelOperation.class
/JavaModelStatus.class
/JavaProject$ClasspathResolutionBreakpointListener.class
/JavaProject$ResolvedClasspath.class
/JavaProject.class
/JavaProjectElementInfo$ProjectCache.class
/JavaProjectElementInfo.class
/JavadocConstants.class
/JavadocContents.class
/LRUCacheEnumerator$LRUEnumeratorElement.class
/LRUCacheEnumerator.class
/LambdaExpression.class
/LambdaFactory.class
/LambdaMethod.class
/LocalVariable.class
/Member.class
/MemberElementInfo.class
/MemberValuePair.class
/ModelUpdater.class
/MoveElementsOperation.class
/MovePackageFragmentRootOperation.class
/MoveResourceElementsOperation.class
/MultiOperation.class
/NameLookup$Answer.class
/NameLookup.class
/NamedMember.class
/NonJavaResource.class
/NullBuffer.class
/Openable.class
/OpenableElementInfo.class
/OverflowingLRUCache$1Temp.class
/OverflowingLRUCache.class
/PackageDeclaration.class
/PackageFragment.class
/PackageFragmentInfo.class
/PackageFragmentRoot.class
/PackageFragmentRootInfo.class
/ProjectReferenceChange.class
/ReconcileWorkingCopyOperation.class
/Region.class
/RenameElementsOperation.class
/RenameResourceElementsOperation.class
/ResolvedBinaryField.class
/ResolvedBinaryMethod.class
/ResolvedBinaryType.class
/ResolvedLambdaExpression.class
/ResolvedSourceField.class
/ResolvedSourceMethod.class
/ResolvedSourceType.class
/SearchableEnvironment.class
/SearchableEnvironmentRequestor.class
/SelectionRequestor.class
/SetClasspathOperation.class
/SetContainerOperation.class
/SetVariablesOperation.class
/SimpleDelta.class
/SingleTypeRequestor.class
/SortElementsOperation.class
/SourceAnnotationMethodInfo.class
/SourceConstructorInfo.class
/SourceConstructorWithChildrenInfo.class
/SourceField.class
/SourceFieldElementInfo.class
/SourceFieldWithChildrenInfo.class
/SourceMapper$LocalVariableElementKey.class
/SourceMapper.class
/SourceMethod.class
/SourceMethodElementInfo.class
/SourceMethodInfo.class
/SourceMethodWithChildrenInfo.class
/SourceRefElement.class
/SourceRefElementInfo.class
/SourceType.class
/SourceTypeElementInfo.class
/TypeParameter.class
/TypeParameterElementInfo.class
/TypeVector.class
/UserLibrary.class
/UserLibraryClasspathContainer.class
/UserLibraryClasspathContainerInitializer.class
/UserLibraryManager.class
/VerboseElementCache.class
/XMLWriter.class
/BinaryMethod$1.class
/BinaryMethod$1ParametersNameCollector.class
/Buffer$1.class
/ClassFile$1.class
/ClassFile$2.class
/ClasspathEntry$1.class
/CompilationUnit$1.class
/CompilationUnit$2.class
/CompilationUnit$3.class
/CopyPackageFragmentRootOperation$1.class
/DeletePackageFragmentRootOperation$1.class
/DeltaProcessingState$1.class
/DeltaProcessor$1.class
/DeltaProcessor$1FoundRelevantDeltaException.class
/DeltaProcessor$2.class
/DeltaProcessor$3.class
/DeltaProcessor$4.class
/JavaElement$1NoResourceSchedulingRule.class
/JavaModelManager$1.class
/JavaModelManager$10.class
/JavaModelManager$11.class
/JavaModelManager$12.class
/JavaModelManager$13.class
/JavaModelManager$14.class
/JavaModelManager$15.class
/JavaModelManager$16.class
/JavaModelManager$17.class
/JavaModelManager$18.class
/JavaModelManager$19$1.class
/JavaModelManager$19.class
/JavaModelManager$2.class
/JavaModelManager$3.class
/JavaModelManager$4.class
/JavaModelManager$5.class
/JavaModelManager$6.class
/JavaModelManager$7.class
/JavaModelManager$8.class
/JavaModelManager$9.class
/JavaModelManager$CompilationParticipants$1.class
/JavaModelManager$CompilationParticipants$2.class
/JavaProject$1.class
/JavaProject$2.class
/JavaProject$3.class
/LambdaExpression$1.class
/LocalVariable$1LocalVarAnnotation.class
/MovePackageFragmentRootOperation$1.class
/NamedMember$1TypeResolveRequestor.class
/ProjectReferenceChange$1.class
/ReconcileWorkingCopyOperation$1.class
/SearchableEnvironment$1.class
/SearchableEnvironment$2.class
/SearchableEnvironment$3.class
/SearchableEnvironment$4.class
/SearchableEnvironment$5.class
/SearchableEnvironment$6.class
/SetContainerOperation$1.class
/SetContainerOperation$2.class
/SourceMapper$1.class
/SortElementsOperation$1.class
/SortElementsOperation$2.class
