/ASTRewriteAnalyzer$ListRewriter.class
/ASTRewriteAnalyzer$ModifierRewriter.class
/ASTRewriteAnalyzer$ParagraphListRewriter.class
/ASTRewriteAnalyzer$SwitchListRewriter.class
/ASTRewriteAnalyzer.class
/ASTRewriteFlattener.class
/ASTRewriteFormatter$BlockContext.class
/ASTRewriteFormatter$BlockFormattingPrefix.class
/ASTRewriteFormatter$BlockFormattingPrefixSuffix.class
/ASTRewriteFormatter$ConstPrefix.class
/ASTRewriteFormatter$ExtendedFlattener.class
/ASTRewriteFormatter$FormattingPrefix.class
/ASTRewriteFormatter$NodeMarker.class
/ASTRewriteFormatter$Prefix.class
/ASTRewriteFormatter.class
/LineCommentEndOffsets.class
/LineInformation$1.class
/LineInformation.class
/ListRewriteEvent.class
/NodeInfoStore$CopyPlaceholderData.class
/NodeInfoStore$PlaceholderData.class
/NodeInfoStore$StringPlaceholderData.class
/NodeInfoStore.class
/NodeRewriteEvent.class
/RewriteEvent.class
/RewriteEventStore$CopySourceInfo.class
/RewriteEventStore$EventHolder.class
/RewriteEventStore$INodePropertyMapper.class
/RewriteEventStore$NodeRangeInfo.class
/RewriteEventStore$ParentIterator.class
/RewriteEventStore$PropertyLocation.class
/RewriteEventStore.class
/SourceModifier.class
/TokenScanner.class
/TrackedNodePosition.class
/ASTRewriteFormatter$1.class
/LineInformation$2.class
